.content {
    padding-top: 70px; /* 헤더 아래에 내용이 오도록 패딩 추가 */
  }
  
  .image-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .image-card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    height: 200px; /* 이미지 높이 제한 */
    object-fit: cover;
  }
  