.header-logo {
  width: 45px; /* Adjust the width as needed */
  height: auto; /* Keeps the aspect ratio */
}

.header-text {
  margin-top: 5px; /* Space between logo and text */
  font-size: 25px; /* Font size of the text */
  text-align: center; /* Center the text */
  font-family: "Jua", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1eef7;
}

.header-left, .header-center, .header-right {
  display: flex;
  align-items: center;
}

.menu-button {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px; /* 폰트 크기 조정 */
  padding: 10px 20px; /* 패딩 조정 */
}

.custom-dropdown-menu {
  position: absolute;
  top: 70px; /* 조정된 위치 */
  left: 10; /* 메뉴 버튼과의 정렬 */
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.custom-dropdown-menu .dropdown-item {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

.home-link img {
  display: block;
}

.profile-link .btn {
  background-color: #d1abeb;
  color: white;
  border: none;
  border-radius: 2px;
}

.profile-link .btn:hover {
  background-color: #0056b3;
}
